name: Build Nightly Image - Raspberry Pi OS

on:
  push:
  schedule: 
    - cron: '0 10 * * *'

jobs:
  build:
    runs-on: self-hosted
    steps:
    - name: Update Dependencies
      run: |
        sudo apt update
    - name: Install Dependencies
      run: |
        sudo apt install coreutils p7zip-full qemu-user-static

    - name: Checkout CustomPiOS
      uses: actions/checkout@v4
      with:
        repository: 'guysoft/CustomPiOS'
        path: CustomPiOS

    - name: Checkout Project Repository
      uses: actions/checkout@v4
      with:
        path: repository
        submodules: true

    - name: Download Raspbian Image
      run: |
        cd repository/src/image
        wget -c --trust-server-names 'https://downloads.raspberrypi.org/raspios_lite_armhf_latest'
      #  wget -c --trust-server-names 'https://downloads.raspberrypi.org/raspios_lite_armhf/images/raspios_lite_armhf-2023-05-03/2023-05-03-raspios-bullseye-armhf-lite.img.xz'

    - name: Update CustomPiOS Paths
      run: |
        cd repository/src
        ../../CustomPiOS/src/update-custompios-paths
    
    - name: Build Image
      run: |
        sudo apt clean
        sudo modprobe loop
        cd repository/src
        echo PIFIRE_REPO_BRANCH=development >> config.local
        sudo bash -x ./build_dist

    - name: Copy output
      id: copy
      run: |
        source repository/src/config
        now=$(date +"%Y-%m-%d-%H%M")
        image=$now-PiFireOS-$DIST_VERSION
        cp repository/src/workspace/*.img ${image}.img
        echo "image=${image}" >> $GITHUB_ENV

    # artifact upload will take care of zipping for us
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      # if: github.event_name == 'schedule'
      with:
        name: ${{ env.image }}
        path: ${{ env.image }}.img
        
