name: Build Image

on:
  repository_dispatch:
  push:
  schedule: 
    - cron: '0 10 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Update Dependencies
      run: |
        sudo apt update
    - name: Install Dependencies
      run: |
        sudo apt install coreutils p7zip-full qemu-user-static

    - name: Checkout CustomPiOS
      uses: actions/checkout@v3.3.0
      with:
        repository: 'guysoft/CustomPiOS'
        path: CustomPiOS

    - name: Checkout Project Repository
      uses: actions/checkout@v3.3.0
      with:
        path: repository
        submodules: true

    - name: Download Raspbian Image
      run: |
        cd repository/src/image
        wget -c --trust-server-names 'https://downloads.raspberrypi.org/raspios_lite_armhf_latest'

    - name: Update CustomPiOS Paths
      run: |
        cd repository/src
        ../../CustomPiOS/src/update-custompios-paths
    
    - name: Build Image
      run: |
        sudo modprobe loop
        cd repository/src
        sudo bash -x ./build_dist

    - name: Copy output
      id: copy
      run: |
        source repository/src/config
        NOW=$(date +"%Y-%m-%d-%H%M")
        echo "image=$NOW-PiFireOS-$DIST_VERSION" >> $GITHUB_ENV
        cp repository/src/image/*.img ${{ env.image }}.img

    # artifact upload will take care of zipping for us
    - uses: actions/upload-artifact@v3.1.2
     # if: github.event_name == 'schedule'
      with:
        name: ${{ env.image }}
        path: ${{ env.image }}.img
        
