name: Build Nightly Image - DietPi

on:
  push:
  schedule: 
    - cron: '0 10 * * *'

jobs:
  build_32:
    runs-on: ubuntu-latest
    steps:
    - name: Update Dependencies
      run: |
        sudo apt update
    - name: Install Dependencies
      run: |
        sudo apt install coreutils p7zip-full qemu-user-static

    - name: Checkout CustomPiOS
      uses: actions/checkout@v3.3.0
      with:
        repository: 'guysoft/CustomPiOS'
        path: CustomPiOS

    - name: Checkout Project Repository
      uses: actions/checkout@v3.3.0
      with:
        path: repository
        submodules: true

    - name: Download Dietpi Image
      run: |
        cd repository/src/image
        wget -c --trust-server-names 'https://dietpi.com/downloads/images/DietPi_RPi-ARMv6-Bullseye.7z'

    - name: Update CustomPiOS Paths
      run: |
        cd repository/src
        ../../CustomPiOS/src/update-custompios-paths
    
    - name: Build Image
      run: |
        sudo modprobe loop
        cd repository/src
        echo PIFIRE_REPO_BRANCH=development >> config.local
        echo BASE_ZIP_IMG=${BASE_IMAGE_PATH}/DietPi_RPi-ARMv6-Bullseye.7z >> config.local
        echo BASE_DISTRO=DietPi >> config.local
        echo BASE_IMAGE_RASPBIAN=no >> config.local
        sudo bash -x ./build_dist

    - name: Copy output
      id: copy
      run: |
        source repository/src/config
        now=$(date +"%Y-%m-%d-%H%M")
        image=$now-PiFireOS-$DIST_VERSION
        cp repository/src/workspace/*.img ${image}.img
        echo "image=${image}" >> $GITHUB_ENV

    # artifact upload will take care of zipping for us
    - name: Upload Artifact
      uses: actions/upload-artifact@v3.1.2
      if: github.event_name == 'schedule'
      with:
        name: ${{ env.image }}
        path: ${{ env.image }}.img
  build_64:
    runs-on: ubuntu-latest
    steps:
    - name: Update Dependencies
      run: |
        sudo apt update
    - name: Install Dependencies
      run: |
        sudo apt install coreutils p7zip-full qemu-user-static

    - name: Checkout CustomPiOS
      uses: actions/checkout@v3.3.0
      with:
        repository: 'guysoft/CustomPiOS'
        path: CustomPiOS

    - name: Checkout Project Repository
      uses: actions/checkout@v3.3.0
      with:
        path: repository
        submodules: true

    - name: Download Dietpi Image
      run: |
        cd repository/src/image
        wget -c --trust-server-names 'https://dietpi.com/downloads/images/DietPi_RPi-ARMv8-Bullseye.7z'

    - name: Update CustomPiOS Paths
      run: |
        cd repository/src
        ../../CustomPiOS/src/update-custompios-paths
    
    - name: Build Image
      run: |
        sudo modprobe loop
        cd repository/src
        echo PIFIRE_REPO_BRANCH=development >> config.local
        echo BASE_ZIP_IMG=${BASE_IMAGE_PATH}/DietPi_RPi-ARMv8-Bullseye.7z >> config.local
        echo BASE_ARCH=aarch64 >> config.local
        echo BASE_DISTRO=DietPi >> config.local
        echo BASE_IMAGE_RASPBIAN=no >> config.local
        sudo bash -x ./build_dist

    - name: Copy output
      id: copy
      run: |
        source repository/src/config
        now=$(date +"%Y-%m-%d-%H%M")
        image=$now-PiFireOS-$DIST_VERSION
        cp repository/src/workspace/*.img ${image}.img
        echo "image=${image}" >> $GITHUB_ENV

    # artifact upload will take care of zipping for us
    - name: Upload Artifact
      uses: actions/upload-artifact@v3.1.2
      if: github.event_name == 'schedule'
      with:
        name: ${{ env.image }}
        path: ${{ env.image }}.img
        